body {
  background: #f4f5f5;
}

video {
  object-fit: cover;
  width: 100vw;
  height: 100vh;  
  position: fixed;
  top: 0; 
  left: 0;
  z-index: -1;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
}

.colorText {
  color: #e31b6d;
  text-transform: uppercase;
}

.btn {
  margin-top: 10px;
  font-size: 30px;
  background-color: #e31b6d;
  color: #f4f5f5;
  font-family: 'Montserrat', sans-serif;
}

.header {
  color: #b5dfc4;
  background-color: black;
  font-family: 'Satisfy', cursive;
  font-size: 40px;
}

a {
  background-color: #fbdf6c;
  text-decoration: none;
}

h2 {
  background-color: #91dcff;
}

h3 {
  background-color: #b5dfc4;
}

h4 {
  background-color: #ff9ea9;
  margin-top: 0;
}

h5 {
  background-color: #c7c9ff;
  margin-top: 0;
}

.btn, .header, h2, h3, h4, h5 {
  padding: 17px;
  border-radius: 15px;
}